<% include ../partials/start %>
<% include ../partials/nav %>

<section class="container-fluid content-height py-3">
    <div class="row">
        <!--Sidebar-->
        <div class="col-lg-3 col-xl-2 mb-3 mb-lg-0 pr-lg-0">
            <% include index-sidebar %>       
        </div>
        
        <!--Main panel-->
        <div class="col-lg-9 col-xl-10">
            <!--Realty row-->
            <div class="row no-gutters mb-3">
                <!--Title-->
                <div class="col-12">
                    <h1 class="h4">Imóveis</h1>
                </div>
                
                <!--Total realty number-->
                <div class="col-12 col-lg-4 mb-2">
                    <div class="card rounded-0 border-0 box-shadow h-100">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                            <h1 class="h6">Total</h1>
                            <h2 class="font-weight-light"><%= realty.length %></h2>
                        </div>
                    </div>
                </div>
                
                <!--Occupied realty-->
                <div class="col-12 col-lg-4 mb-2">
                    <div class="card rounded-0 border-0 box-shadow h-100">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                            <h1 class="h6 text-success">Alugados</h1>
                            <h2 class="font-weight-light">
                                <%= occupiedRealty.length %> 
                                <small class="font-weight-light">
                                    (<%= ((occupiedRealty.length / realty.length) * 100).toFixed(2) %>%)
                                </small>
                            </h2>
                        </div>
                    </div>
                </div>
                
                <!--Available realty-->
                <div class="col-12 col-lg-4 mb-2">
                    <div class="card rounded-0 border-0 box-shadow h-100">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                            <h1 class="h6 text-danger">Disponíveis</h1>
                            <h2 class="font-weight-light">
                                <%= realty.length - occupiedRealty.length %>
                                <small class="font-weight-light">
                                    (<%=
                                        (((realty.length - occupiedRealty.length) / realty.length) * 100).toFixed(2)
                                    %>%)
                                </small>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Condominium row-->
            <div class="row no-gutters">
                <!--Title-->
                <div class="col-12">
                    <h1 class="h4">Condomínios</h1>
                </div>
                
                <!--Condominium total-->
                <div class="col-12 col-lg-4 mb-2">
                    <div class="card rounded-0 border-0 box-shadow h-100">
                        <div class="card-body text-center">
                            <h1 class="h6">Total</h1>
                            <h2 class="font-weight-light">
                                <small class="font-weight-light">R$</small><%= totalCondominium %>
                            </h2>
                        </div>
                    </div>
                </div>        
                
                <!--Condominium paid by tenants (tenants, family and company)-->
                <div class="col-12 col-lg-4 mb-2">
                    <div class="card rounded-0 border-0 box-shadow h-100">
                        <div class="card-body text-center">
                            <h1 class="h6 text-success">Alugados</h1>
                            <h2 class="font-weight-light">
                                <small class="font-weight-light">R$</small><%= totalOccupiedCondominium %>
                            </h2>
                        </div>
                    </div>
                </div>
                
                <!--Condominium of available realty-->
                <div class="col-12 col-lg-4 mb-2">
                    <div class="card rounded-0 border-0 box-shadow h-100">
                        <div class="card-body text-center">
                            <h1 class="h6 text-danger">Disponíveis</h1>
                            <h2 class="font-weight-light">
                                <% var totalCondominiumAvailableRealty = (totalCondominium - totalOccupiedCondominium).toFixed(2) %>
                                <small class="font-weight-light">R$</small><%= totalCondominiumAvailableRealty %>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>
<% include ../partials/end %>