<% include ../partials/start %>
<% include ../partials/nav %>

<section class="container-fluid content-height py-3">
    <div class="row">
        <div class="col-lg-3 col-xl-2 mb-3 mb-lg-0 pr-lg-0">
            <% include index-sidebar %>       
        </div>
        <div class="col-lg-9 col-xl-10">
            <div class="row no-gutters mb-3">
                <div class="col-12">
                    <% if(selectedTypesArray.length != typesArray.length) { %>
                        <span class="d-block mb-3 text-muted">Filtrando por: <strong>"<%= selectedTypesString %>"</strong></span>
                    <% } %>
                </div>
                <div class="col-12">
                    <h1 class="h4">Imóveis</h1>
                </div>
                <div class="col-12 col-lg-3 mb-2">
                    <div class="card rounded-0 border-0 box-shadow h-100">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                            <h1 class="h6">Total</h1>
                            <h2 class="font-weight-light"><%= allRealty.length %></h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 mb-2">
                    <div class="card rounded-0 border-0 box-shadow h-100">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                            <h1 class="h6 text-success">Ocupado por Inquilinos</h1>
                            <h2 class="font-weight-light"><%= occupiedRealtyByOthers %> <small class="font-weight-light">(<%= percentageOfOccupiedRealtyByOthers %>%)</small></h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 mb-2">
                    <div class="card rounded-0 border-0 box-shadow h-100">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                            <h1 class="h6 text-warning">Disponíveis</h1>
                            <h2 class="font-weight-light">
                                <%= allRealty.length - (occupiedRealtyByFamily + occupiedRealtyByOthers) %> 
                                <small class="font-weight-light">(<%= percentageOfAvailableRealty %>%)</small>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 mb-2">
                    <div class="card rounded-0 border-0 box-shadow h-100">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                            <h1 class="h6 text-danger">Ocupado por Familiares ou Grupo CTC</h1>
                            <h2 class="font-weight-light"><%= occupiedRealtyByFamily %> <small class="font-weight-light">(<%= percentageOfOccupiedRealtyByFamily %>%)</small></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12">
                    <h1 class="h4">Condomínios</h1>
                </div>
                <div class="col-12 col-lg-6 mb-2">
                    <div class="card rounded-0 border-0 box-shadow h-100">
                        <div class="card-body text-center">
                            <h1 class="h6">Total</h1>
                            <h2 class="font-weight-light"><small class="font-weight-light">R$</small><%= totalCondominium %></h2>
                        </div>
                    </div>
                </div>        
                <div class="col-12 col-lg-6 mb-2">
                    <div class="card rounded-0 border-0 box-shadow h-100">
                        <div class="card-body text-center">
                            <h1 class="h6 text-success">Pago por Inquilinos</h1>
                            <h2 class="font-weight-light"><small class="font-weight-light">R$</small><%= totalCondominiumByOthers %></h2>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>
<% include ../partials/end %>