<% include ../partials/start %>
<% include ../partials/nav %>

<section class="container-fluid content-height py-3">
    <div class="row">
        <!--Sidebar-->
        <div class="col-lg-3 col-xl-2 mb-3 mb-lg-0 pr-lg-0">
            <% include index-sidebar %>       
        </div>
        
        <!--Percentage vars-->
        <% var percentageOfAvailableRealty = (((realty.length - occupiedRealty.length) / realty.length) * 100).toFixed(2) %>
        <% var percentageOfOccupiedRealty = ((occupiedRealty.length / realty.length) * 100).toFixed(2) %>
        <% var percentageOfAvailableCondominium = (((totalCondominium - totalOccupiedCondominium) / totalCondominium) * 100).toFixed(2) %>
        <% var percentageOfOccupiedCondominium = ((totalOccupiedCondominium / totalCondominium) * 100).toFixed(2) %>
        <% var percentageOfAvailableIptu = (((totalIptu - totalOccupiedIptu) / totalIptu) * 100).toFixed(2) %>
        <% var percentageOfOccupiedIptu = ((totalOccupiedIptu / totalIptu) * 100).toFixed(2) %>
        
        <!--Main panel-->
        <div class="col-lg-9 col-xl-10">
            <div class="row no-gutters mb-3">
                <!--Realty-->
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="card rounded-0 border-0 box-shadow h-100">
                        <div class="card-body text-center">
                            <h1 class="h4 d-inline">Imóveis</h1>
                            <span class="font-weight-normal"> (<%= realty.length %>)</span>
                            <canvas id="realtyIsRentedChart" class="mt-2" width="400" height="400"></canvas>
                            <script>
                            var ctx = document.getElementById('realtyIsRentedChart');
                            var myDoughnutChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: [
                                        'Alugados (<%= percentageOfOccupiedRealty %>%)',
                                        'Disponiveis (<%= percentageOfAvailableRealty %>%)'
                                    ],
                                    datasets: [{
                                        data: [<%= occupiedRealty.length %>, <%= realty.length - occupiedRealty.length %>],
                                        backgroundColor: [
                                            'rgba(40, 167, 69, 0.2)',
                                            'rgba(220, 53, 69, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(40, 167, 69, 1)',
                                            'rgba(220, 53, 69, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                }
                            });
                            </script>
                        </div>
                    </div>
                </div>
                
                <!--Condominium-->
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="card rounded-0 border-0 box-shadow h-100">
                        <div class="card-body text-center">
                            <h1 class="h4 d-inline">Condomínios</h1>
                            <span class="font-weight-normal"> (R$<%= totalCondominium %>/mês)</span>
                            <canvas id="realtyCondominiumChart" class="mt-2" width="400" height="400"></canvas>
                            <script>
                            var ctx = document.getElementById('realtyCondominiumChart');
                            var myDoughnutChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: [
                                        'Alugados (<%= percentageOfOccupiedCondominium %>%)',
                                        'Disponiveis (<%= percentageOfAvailableCondominium %>%)'
                                    ],
                                    datasets: [{
                                        data: [
                                            <%= totalOccupiedCondominium %>,
                                            <%= (totalCondominium - totalOccupiedCondominium).toFixed(2) %>
                                        ],
                                        backgroundColor: [
                                            'rgba(40, 167, 69, 0.2)',
                                            'rgba(220, 53, 69, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(40, 167, 69, 1)',
                                            'rgba(220, 53, 69, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                }
                            });
                            </script>
                        </div>
                    </div>
                </div>
                
                <!--IPTU-->
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="card rounded-0 border-0 box-shadow h-100">
                        <div class="card-body text-center">
                            <h1 class="h4 d-inline">IPTU</h1>
                            <span class="font-weight-normal"> R$<%= totalIptu %>/ano)</span>
                            <canvas id="realtyIptuChart" class="mt-2" width="400" height="400"></canvas>
                            <script>
                            var ctx = document.getElementById('realtyIptuChart');
                            var myDoughnutChart = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: [
                                        'Alugados (<%= percentageOfAvailableIptu %>%)',
                                        'Disponiveis (<%= percentageOfOccupiedIptu %>%)'
                                    ],
                                    datasets: [{
                                        data: [
                                            <%= totalOccupiedIptu %>,
                                            <%= (totalIptu - totalOccupiedIptu).toFixed(2) %>
                                        ],
                                        backgroundColor: [
                                            'rgba(40, 167, 69, 0.2)',
                                            'rgba(220, 53, 69, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(40, 167, 69, 1)',
                                            'rgba(220, 53, 69, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                }
                            });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--<div class="row no-gutters">-->
            <!--    <div class="col-12">-->
            <!--        <h1 class="h4">Aluguel - Condomínio - IPTU/mês</h1>-->
            <!--    </div>-->
            <!--</div>-->
        </div>
    </div>
</section>

<% include ../partials/footer %>
<% include ../partials/end %>