<!--Iterate thru realty owners-->
<% for (let i in realtyOwners) { %>
    <!--Checked var set with "checked" or "" depending if this realty owner is one of the selected or not-->
    <% let checked = (selectedRealtyOwners.includes(realtyOwners[i])) ? "checked" : "" %>
    
    <!--Checkbox-->
    <div class="custom-control custom-checkbox d-inline-flex d-lg-block mr-2 mr-lg-0">
        <input type="checkbox" <%= checked %> class="custom-control-input" id="<%= realtyOwners[i] %>" name="owner" value="<%= realtyOwners[i] %>">
        <label class="custom-control-label" for="<%= realtyOwners[i] %>">
            <%= realtyOwners[i] %>
        </label>
    </div>
<% } %>