<% for (let i in ownersArray) { %>
    <% if(selectedOwnersArray.includes(ownersArray[i])) { %>
        <!-- Checked -->
        <div class="custom-control custom-checkbox d-inline-flex d-lg-block mr-2 mr-lg-0">
            <input type="checkbox" checked class="custom-control-input" id="<%= ownersArray[i] %>" name="owner" value="<%= ownersArray[i] %>">
            <label class="custom-control-label" for="<%= ownersArray[i] %>">
                <%= ownersArray[i] %>
            </label>
        </div>
    <% } else { %>
        <!-- Not checked -->
        <div class="custom-control custom-checkbox d-inline-flex d-lg-block mr-2 mr-lg-0">
            <input type="checkbox" class="custom-control-input" id="<%= ownersArray[i] %>" name="owner" value="<%= ownersArray[i] %>">
            <label class="custom-control-label" for="<%= ownersArray[i] %>">
                <%= ownersArray[i] %>
            </label>
        </div>
    <% } %>
<% } %>