<% for (let i in typesArray) { %>
    <% if(selectedTypesArray.includes(typesArray[i])) { %>
        <!-- Checked -->
        <div class="custom-control custom-checkbox d-inline-flex d-lg-block mr-2 mr-lg-0">
            <input type="checkbox" checked class="custom-control-input" id="<%= typesArray[i] %>" name="type" value="<%= typesArray[i] %>">    
            <label class="custom-control-label" for="<%= typesArray[i] %>">
                <%= typesArray[i] %>
                <% if (typesArray[i] === "Apartamento") { %>(<%= realtyTypeCount.apartamento %>)
                <% } else if (typesArray[i] === "Garagem") { %>(<%= realtyTypeCount.garagem %>)
                <% } else if (typesArray[i] === "Loja") { %>(<%= realtyTypeCount.loja %>)
                <% } else if (typesArray[i] === "Pavimento") { %>(<%= realtyTypeCount.pavimento %>)
                <% } else if (typesArray[i] === "Sala") { %>(<%= realtyTypeCount.sala %>)
                <% } else if (typesArray[i] === "Terreno") { %>(<%= realtyTypeCount.terreno %>)
                <% } %>
            </label>
        </div>
    <% } else { %>
        <!-- Not checked -->
        <div class="custom-control custom-checkbox d-inline-flex d-lg-block mr-2 mr-lg-0">
            <input type="checkbox" class="custom-control-input" id="<%= typesArray[i] %>" name="type" value="<%= typesArray[i] %>">    
            <label class="custom-control-label" for="<%= typesArray[i] %>">
                <%= typesArray[i] %>
                <% if (typesArray[i] === "Apartamento") { %>(<%= realtyTypeCount.apartamento %>)
                <% } else if (typesArray[i] === "Garagem") { %>(<%= realtyTypeCount.garagem %>)
                <% } else if (typesArray[i] === "Loja") { %>(<%= realtyTypeCount.loja %>)
                <% } else if (typesArray[i] === "Pavimento") { %>(<%= realtyTypeCount.pavimento %>)
                <% } else if (typesArray[i] === "Sala") { %>(<%= realtyTypeCount.sala %>)
                <% } else if (typesArray[i] === "Terreno") { %>(<%= realtyTypeCount.terreno %>)
                <% } %>
            </label>
        </div>
    <% } %>
<% } %>