<% include ../partials/start %>
<% include ../partials/nav %>

<div class="container content-height py-3">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h1 class="font-weight-light text-center mb-3">Editar Inquilino</h1>
        <div class="card bg-white rounded">
            <div class="card-body">
                <form action="/inquilinos/<%= tenant._id %>?_method=PUT" method="POST">
                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="name">Nome/Razão Social <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="name" name="tenant[name]" required value="<%= tenant.name %>">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="type">Tipo <span class="text-danger">*</span></label>
                                <select class="custom-select" id="type" name="tenant[type]" required>
                                    <% var options = ["Pessoa Física", "Pessoa Jurídica"] %>
                                    <% for (var i = 0; i < options.length; i++) { %>
                                        <% let selected = (options[i] === tenant.type) ? "selected" : "" %>
                                        <option value="<%= options[i] %>" <%= selected %>><%= options[i] %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group d-none cpfField">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control" id="cpf" name="tenant[cpf]" data-inputmask="'mask': '999.999.999-99'" value="<%= tenant.cpf  %>">
                    </div>
                    <div class="form-group d-none cnpjField">
                        <label for="cnpj">CNPJ</label>
                        <input type="text" class="form-control" id="cnpj" name="tenant[cnpj]" data-inputmask="'mask': '99.999.999/9999-99'" value="<%= tenant.cnpj %>">
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="contactName">Nome p/ Contato</label>
                                <input type="text" class="form-control" id="contactName" name="tenant[contactName]" value="<%= tenant.contactName %>">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="phone">Telefone p/ Contato</label>
                                <input type="tel" class="form-control" id="phone" name="tenant[phone]"  data-inputmask="'mask': '(99) 99999999[9]'"  value="<%= tenant.phone %>">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contactEmail">Email p/ Contato</label>
                        <input type="email" class="form-control" id="contactEmail" name="tenant[contactEmail]"  value="<%= tenant.contactEmail %>">
                    </div>
                    <div class="form-group">
                        <label for="notes">Informações Adicionais</label>
                        <textarea class="form-control" id="notes" name="tenant[notes]" rows="4" maxlength="300"><%= tenant.notes %></textarea>
                        <small id="notesHelpBlock" class="form-text text-muted">
                            Máximo: 300 caracteres.
                        </small>
                    </div>
                    <div class="d-flex justify-content-between align-items-start">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <p class="text-danger">* <small class="m-0">Campos obrigatórios</small></p>
                    </div>
                </form>
            </div>
        </div>
        <a href="javascript:history.back()" class="mt-3">&laquo; Voltar</a>
    </div>
</div>

<% include ../partials/footer %>
<% include ../partials/end %>