<% include ../partials/start %>
<% include ../partials/nav %>

<section class="container content-height py-3">
    <div class="d-flex justify-content-between align-items-start">
        <a href="/inquilinos/novo" class="btn btn-primary mb-3">Adicionar Inquilino</a>
        <div class="text-right">
            <!--<small class="d-block">-->
            <!--    <span class="mr-1"><i class="fas fa-xs fa-circle text-success"></i> Alugado</span>-->
            <!--    <span><i class="fas fa-xs fa-circle text-warning"></i> Disponível</span>-->
            <!--</small>-->
            <small class="d-block">Total: <%= tenants.length %> inquilinos</small>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-sm bg-white">
            <caption class="sr-only">Lista de inquilinos</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">CPF/CNPJ</th>
                    <th scope="col">Contato</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Informações Adicionais</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% tenants.forEach(function(tenant, index) { %>
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= tenant.name %></td>
                        <td><%= tenant.type %></td>
                        <td><%= tenant.idNum %></td>
                        <td><%= tenant.contactName %></td>
                        <td><%= tenant.contactEmail %></td>
                        <td><%= tenant.contactNum %></td>
                        <td><%= tenant.notes %></td>
                        <td>
                            <!-- Trigger delete tenant modal -->
                            <a href="#" class="text-danger" data-toggle="modal" data-target="#tenant<%= index %>">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                        <!-- Delete tenant modal -->
                        <div class="modal fade" id="tenant<%= index %>" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Excluir Inquilino</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Você tem certeza que deseja excluir este inquilino?
                                    </div>
                                    <div class="modal-footer">
                                        <form action="/inquilinos/<%= tenant._id %>?_method=DELETE" method="POST" class="d-inline">
                                            <button class="btn btn-danger">Sim</button>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                <% }); %>
            </tbody>
        </table>       
    </div>
</section>

<% include ../partials/footer %>
<% include ../partials/end %>