<div class="card rounded-0 border-0 sticky-top box-shadow">
    <div class="accordion" id="filtersAccordion">
        <div class="card-header clearfix">
            <button class="btn btn-link p-0 text-decoration-none w-100" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="true" aria-controls="collapseOne">
                <h1 class="h5 m-0 float-left">Pesquisar</h1>
                <i class="fas fa-angle-double-down float-right d-block h-100 mt-1 float-right"></i>
            </button>
        </div>
        <div id="collapseFilters" class="collapse hide" data-parent="#filtersAccordion">
            <div class="card-body">
                <form action="/imoveis" method="GET">
                    <label class="font-weight-bold">Nome do imóvel:</label>
                    <input type="text" class="form-control rounded-0 mb-3" id="search" name="searchQuery" placeholder="ex: Jusmar" value="<%= searchQuery %>">
                    <label class="font-weight-bold">Ordenar por:</label>
                    <select class="custom-select rounded-0 mb-3" name="sortBy">
                        <option value="1" <%= (sortBy == 1) ? "selected" : "" %>>Nome: A-Z</option>
                        <option value="2" <%= (sortBy == 2) ? "selected" : "" %>>Nome: Z-A</option>
                        <option value="3" <%= (sortBy == 3) ? "selected" : "" %>>Tipo: A-Z</option>
                        <option value="4" <%= (sortBy == 4) ? "selected" : "" %>>Tipo: Z-A</option>
                        <option value="5" <%= (sortBy == 5) ? "selected" : "" %>>Menor aluguel &nbsp;&nbsp;</option>
                        <option value="6" <%= (sortBy == 6 || sortBy == undefined) ? "selected" : "" %>>Maior aluguel &nbsp;&nbsp;</option>
                        <option value="7" <%= (sortBy == 7) ? "selected" : "" %>>Menor condomínio &nbsp;&nbsp;</option>
                        <option value="8" <%= (sortBy == 8) ? "selected" : "" %>>Maior condomínio &nbsp;&nbsp;</option>
                    </select>
                    <label class="d-block font-weight-bold">Proprietários:</label>
                    <% include ../components/ownersFilter %>
                    <label class="d-block font-weight-bold mt-3">Tipos:</label>
                    <% include ../components/realtyTypeFilter %>
                    <hr>
                    <button type="submit" class="btn btn-primary btn-block rounded-0 mt-3">Aplicar</button>
                </form>
                <a href="/imoveis" class="btn btn-light btn-block rounded-0 mt-2">Resetar filtros</a>
            </div>
        </div>
    </div>
</div>
