<% include ../partials/start %>
<% include ../partials/nav %>

<section class="container-fluid content-height py-3">
    <div class="row">
        <div class="col-lg-3 col-xl-2 mb-3 mb-lg-0 pr-lg-0">
            <% include index-sidebar %>       
        </div>
        <div class="col-lg-9 col-xl-10">
            <div class="d-flex justify-content-between align-items-start mb-3">
                <a href="/imoveis/novo" class="btn btn-secondary btn-sm rounded-0" title="Adicionar imóvel">Novo imóvel</a>
                <form action="/imoveis" method="GET">
                    <div class="form-row align-items-center">
                        <div class="col-auto pr-0">
                            <label class="sr-only" for="search">Procurar</label>
                            <input type="text" class="form-control form-control-sm rounded-0" id="search" name="searchQuery" placeholder="Procurar imóvel" style="max-width: 120px;">
                        </div>
                        <div class="col-auto pl-0">
                            <button type="submit" class="btn btn-secondary btn-sm rounded-0"><i class="fas fa-search fa-sm"></i></button>
                        </div>
                    </div>                
                </form>
            </div>
            <% if(noMatch) { %>
                <span class="d-block mb-3">Mostrando imóveis com o termo: "<%= searchQuery %>"</span>
            <% } %>
            <div class="table-responsive box-shadow">
                <table class="table table-sm bg-white mb-0">
                    <thead>
                        <tr>
                            <th scope="col" class="border-0">Imóvel</th>
                            <th scope="col" class="border-0">Locação</th>
                            <th scope="col" class="border-0">Condomínio</th>
                            <% if (currentUser.isAdmin) { %>
                                <th scope="col" class="d-none d-lg-table-cell border-0">Ações</th>
                            <% } %>
                        </tr>
                    </thead>
                    <tbody>
                        <% realty.forEach(function(realty, index) { %>
                            <% var isRented = (realty.isRented === "Sim") ? "rented" : "available" %>
                            <tr class="<%= isRented %>">
                                <td class="align-middle">
                                    <a href="/imoveis/<%= realty._id %>" title="Acessar página do imóvel">
                                        <%= realty.name %>    
                                    </a>
                                    <small class="d-block text-muted">Tipo: <%= realty.type %></small>
                                </td>
                                <td class="align-middle">
                                    <%= realty.tenant.name %>
                                    <% if(realty.rentValue > 0) { %>
                                        <small class="d-block text-muted">Aluguel: R$<%= realty.rentValue %></small>   
                                    <% } %>
                                </td>
                                <td class="align-middle">
                                    <% if(realty.condominiumValue > 0) { %>
                                        R$<%= realty.condominiumValue %>
                                    <% } %>
                                </td>
                                <% if (currentUser.isAdmin) { %>
                                    <td class="d-none d-lg-table-cell align-middle">
                                        <!-- Actions -->
                                        <a href="#" class="text-danger" data-toggle="modal" data-target="#realty<%= index %>" title="Deletar imóvel"><i class="fas fa-trash"></i></a>
                                        <a href="/imoveis/<%= realty._id %>/edit" class="text-info" title="Editar imóvel">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                <% } %>
                                <!-- Delete realty modal -->
                                <div class="modal fade" id="realty<%= index %>" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Excluir Imóvel</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Você tem certeza que deseja excluir este imóvel?
                                            </div>
                                            <div class="modal-footer">
                                                <form action="/imoveis/<%= realty._id %>?_method=DELETE" method="POST" class="d-inline">
                                                    <button class="btn btn-danger">Sim</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="d-block d-lg-flex justify-content-between align-items-start mt-3">
                <div class="order-2 mb-2">
                    <small class="d-block">
                        <span class="mr-1"><i class="fas fa-xs fa-circle text-success"></i> Alugado</span>
                        <span class="mr-1"><i class="fas fa-xs fa-circle text-warning"></i> Disponível</span>
                        <span><i class="fas fa-xs fa-circle text-danger"></i> Impróprio</span>
                    </small>
                </div>
                <div>
                    <% include index-pagination %>    
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>
<% include ../partials/end %>