<% include ../partials/start %>
<% include ../partials/nav %>

<section class="container-fluid content-height py-3">
    <div class="row">
        <div class="col-lg-3 col-xl-2 mb-3 mb-lg-0 pr-lg-0">
            <div class="card rounded-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="/imoveis/novo" class="btn btn-secondary btn-block">Adicionar Imóvel</a>
                    </li>
                    <li class="list-group-item">
                        <form action="/imoveis" method="GET">
                            <h5 class="card-title">Ordenar por</h5>
                            <select class="custom-select" name="sortBy">
                                <option selected disabled>Selecione</option>
                                <option value="1">Nome: A-Z</option>
                                <option value="2">Nome: Z-A</option>
                                <option value="3">Aluguel: crescente</option>
                                <option value="4">Aluguel: decrescente</option>
                                <option value="5">Condomínio: crescente</option>
                                <option value="6">Condomínio: decrescente</option>
                            </select>
                            <h5 class="card-title mt-3">Mostrar somente</h5>
                            <% for (let i in typesArray) { %>
                                <% if(selectedTypesArray.includes(typesArray[i])) { %>
                                    <div class="custom-control custom-checkbox d-inline-flex d-lg-block mr-2 mr-lg-0">
                                        <input type="checkbox" checked class="custom-control-input" id="<%= typesArray[i] %>" name="type" value="<%= typesArray[i] %>">    
                                        <label class="custom-control-label" for="<%= typesArray[i] %>"><%= typesArray[i] %></label>
                                    </div>
                                <% } else { %>
                                    <div class="custom-control custom-checkbox d-inline-flex d-lg-block mr-2 mr-lg-0">
                                        <input type="checkbox" class="custom-control-input" id="<%= typesArray[i] %>" name="type" value="<%= typesArray[i] %>">    
                                        <label class="custom-control-label" for="<%= typesArray[i] %>"><%= typesArray[i] %></label>
                                    </div>
                                <% } %>
                            <% } %>
                            <hr>
                            <button type="submit" class="btn btn-primary btn-sm btn-block mt-3">Aplicar</button>
                        </form>
                    </li>
                </ul>
            </div>         
        </div>
        <div class="col-lg-9 col-xl-10">
            <div class="table-responsive">
                <table class="table table-bordered table-sm bg-white">
                    <thead>
                        <tr>
                            <th scope="col"><i class="fas fa-user-check"></i></th>
                            <th scope="col">Nome</th>
                            <th scope="col">Inquilino</th>
                            <th scope="col">Aluguel <small class="d-none d-lg-inline">(R$)</small></th>
                            <th scope="col">Condomínio <small class="d-none d-lg-inline">(R$)</small></th>
                            <th scope="col" class="d-none d-lg-table-cell">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% realty.forEach(function(realty, index) { %>
                            <tr>
                                <% var isRented = (realty.isRented === "Sim") ? "text-success" : "text-warning" %>
                                <th scope="row">
                                    <i class="fas fa-xs fa-circle <%= isRented %>"></i>
                                </th>
                                <td>
                                    <a href="/imoveis/<%= realty._id %>" title="Acessar página do imóvel">
                                        <%= realty.name %>
                                    </a>
                                </td>
                                <td><%= realty.tenant.name %></td>
                                <td>
                                    <% if(realty.rentValue > 0) { %>
                                        <%= realty.rentValue %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if(realty.condominiumValue > 0) { %>
                                        <%= realty.condominiumValue %>
                                    <% } %>
                                </td>
                                <td class="d-none d-lg-table-cell">
                                    <!-- Trigger delete realty modal -->
                                    <% if (currentUser.isAdmin) { %>
                                    <a href="#" class="text-danger" data-toggle="modal" data-target="#realty<%= index %>" title="Deletar imóvel"><i class="fas fa-trash"></i></a>
                                    <% } %>
                                    <!-- Go to edit realty page -->
                                    <a href="/imoveis/<%= realty._id %>/edit" class="text-info" title="Editar imóvel">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                                <!-- Delete realty modal -->
                                <div class="modal fade" id="realty<%= index %>" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Excluir Imóvel</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Você tem certeza que deseja excluir este imóvel?
                                            </div>
                                            <div class="modal-footer">
                                                <form action="/imoveis/<%= realty._id %>?_method=DELETE" method="POST" class="d-inline">
                                                    <button class="btn btn-danger">Sim</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="d-block d-lg-flex justify-content-between align-items-start">
                <div class="order-2">
                    <small class="d-block">
                        <span class="mr-1"><i class="fas fa-xs fa-circle text-success"></i> Alugado</span>
                        <span><i class="fas fa-xs fa-circle text-warning"></i> Disponível</span>
                    </small>
                    <small class="d-block mb-3 mb-lg-0">Imóveis: <%= allRealty.length %> &nbsp; Páginas: <%= pages %></small>
                </div>
                <!-- Pagination -->
                <% if (pages && pages > 0) { %>
                    <nav aria-label="Paginação dos imóveis" class="table-responsive w-auto order-1">
                        <ul class="pagination pagination-sm mb-0">
                            <% var typesUrl = "" %>
                            <% if(selectedTypesArray.length !== 0) {%>
                                <% for (let i in selectedTypesArray) { %>
                                    <% typesUrl = typesUrl + "&type=" + selectedTypesArray[i]; %>
                                <% } %>
                            <% } %>
                            <% var sortBy = "&sortBy=" + sortBy %>
                            <% if (current == 1) { %>
                                <li class="page-item disabled"><a class="page-link"><small>Primeira</small></a></li>
                            <% } else { %>
                                <li class="page-item"><a href="/imoveis" class="page-link"><small>Primeira</small></a></li>
                            <% } %>
                            <% if (current == 1) { %>
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Anterior">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            <% } else { %>
                                <li class="page-item">
                                    <a class="page-link" href="/imoveis?page=<%= Number(current) -1 %><%= sortBy %><%= typesUrl %>" aria-label="Anterior">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            <% } %>
                            <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
                            <% if (i !== 1) { %>
                                <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>
                            <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
                                <% if (i == current) { %>
                                    <li class="page-item disabled active">
                                        <a class="page-link"><%= i %></a>
                                    </li>
                                <% } else { %>
                                    <li class="page-item">
                                        <a class="page-link" href="/imoveis?page=<%= i %><%= sortBy %><%= typesUrl %>"><%= i %></a>
                                    </li>
                                <% } %>
                                <% if (i == Number(current) + 2 && i < pages) { %>
                                    <li class="page-item disabled">...</li>
                                <% } %>
                            <% } %>
                            <% if (current == pages) { %>
                                <li class="page-item">
                                    <a class="page-link disabled" aria-label="Próximo">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            <% } else { %>
                                <li class="page-item">
                                    <a class="page-link" href="/imoveis?page=<%= Number(current) + 1 %><%= sortBy %><%= typesUrl %>" aria-label="Próximo">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            <% } %>
                            <% if (current == pages) { %>
                                <li class="page-item disabled"><a class="page-link"><small>Última</small></a></li>
                            <% } else { %>
                                <li class="page-item"><a href="/imoveis?page=<%= pages %><%= sortBy %><%= typesUrl %>" class="page-link"><small>Última</small></a></li>
                            <% } %>
                        </ul>
                    </nav>  
                <% } %>      
            </div>
        </div>
    </div>
  
</section>

<% include ../partials/footer %>
<% include ../partials/end %>