<% include ../partials/start %>
<% include ../partials/nav %>

<section class="container-fluid content-height py-3">
    <div class="row">
        <!--Sidebar-->
        <div class="col-lg-3 col-xl-2 mb-3 mb-lg-0 pr-lg-0">
            <% include index-sidebar %>       
        </div>
        
        <!--Main panel-->
        <div class="col-lg-9 col-xl-10">
            <div class="d-flex justify-content-between align-items-start mb-3">
                <!--Add realty button-->
                <a href="/imoveis/novo" class="btn btn-secondary rounded-0 box-shadow" title="Adicionar imóvel">
                    Novo imóvel
                </a>
                
                <!--Information about how many realty are displayed and the total number of pages-->
                <div>
                    <% if(perPage > realtyCount) { %>
                        <% perPage = realtyCount %>
                    <% } %>
                    <small class="d-block">Exibindo <%= perPage %> imóveis de <%= realtyCount %></small>
                    <small class="d-block">Total de páginas: <%= pages %></small>
                </div>
            </div>
            
            <!--No realty found message-->
            <% if(realtyCount <= 0) { %>
                <span class="d-block mb-3 text-danger">Nenhum imóvel encontrado. Redefina os filtros da pesquisa.</span>
            <% } %>
            
            <!--Realty table-->
            <div class="table-responsive box-shadow">
                <table class="table table-sm bg-white mb-0">
                    <!--Table head-->
                    <thead>
                        <tr>
                            <th scope="col" class="border-0">Imóvel</th>
                            <th scope="col" class="border-0">Locação</th>
                            <th scope="col" class="border-0">Condomínio</th>
                            <th scope="col" class="border-0">IPTU/SPU (anual)</th>
                            
                            <!--Show Ações table head item if user is admin-->
                            <% if (currentUser.isAdmin) { %>
                                <th scope="col" class="d-none d-lg-table-cell border-0">Ações</th>
                            <% } %>
                        </tr>
                    </thead>
                    
                    <!--Table body-->
                    <tbody>
                        <% realty.forEach(function(realty, index) { %>
                            <!--Color table rows according to realty status-->
                            <% var isRented = (realty.isRented === "Sim") ? "rented" : "available" %>
                            <tr class="<%= isRented %>">
                                <!--Realty-->
                                <td class="align-middle">
                                    <a href="/imoveis/<%= realty._id %>" title="Acessar página do imóvel">
                                        <%= realty.name %>    
                                    </a>
                                    <small class="d-block text-muted">Tipo: <%= realty.type %></small>
                                    <% if(realty.comments.length > 0) { %>
                                        <small class="d-block text-muted">
                                            <i class="far fa-comment"></i> <%= realty.comments.length %> comentário(s)
                                        </small>
                                    <% } %>
                                </td>
                                
                                <!--Rent-->
                                <td class="align-middle">
                                    <%= realty.tenant.name %>
                                    <% if(realty.rentValue > 0) { %>
                                        <small class="d-block text-muted">
                                            Aluguel: R$<%= realty.rentValue %>
                                        </small>   
                                    <% } %>
                                </td>
                                
                                <!--Condominium-->
                                <td class="align-middle">
                                    <% if(realty.condominiumValue > 0) { %>
                                        <span class="d-block">R$<%= realty.condominiumValue %></span>
                                    <% } %>
                                </td>
                                
                                <!--IPTU and SPU-->
                                <td class="align-middle">
                                    <% if(realty.iptuValue > 0) { %>
                                        <span class="d-block"><span class="text-muted">IPTU:</span> R$<%= realty.iptuValue %></span>
                                    <% } %>
                                    <% if(realty.spuValue > 0) { %>
                                        <span class="d-block"><span class="text-muted">SPU:</span> R$<%= realty.spuValue %></span>
                                    <% } %>
                                </td>
                                
                                <!--Show action buttons if user is admin-->
                                <% if (currentUser.isAdmin) { %>
                                    <td class="d-none d-lg-table-cell align-middle">
                                        <!-- Actions -->
                                        <a href="/imoveis/<%= realty._id %>/edit" class="text-info mr-1" title="Editar imóvel"><i class="fas fa-edit"></i></a>
                                        <a href="#" class="text-danger" data-toggle="modal" data-target="#realty<%= index %>" title="Deletar imóvel"><i class="fas fa-trash"></i></a>
                                    </td>
                                <% } %>
                                
                                <!-- Delete realty modal -->
                                <div class="modal fade" id="realty<%= index %>" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Excluir Imóvel</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Você tem certeza que deseja excluir este imóvel?
                                            </div>
                                            <div class="modal-footer">
                                                <form action="/imoveis/<%= realty._id %>?_method=DELETE" method="POST" class="d-inline">
                                                    <button class="btn btn-danger">Sim</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            
            <!--Pagination and realty status color labels-->
            <div class="d-block d-lg-flex justify-content-between align-items-start mt-3">
                <!--Color labels-->
                <div class="order-2 mb-2">
                    <small class="d-block">
                        <span class="mr-1"><i class="fas fa-xs fa-circle text-success"></i> Alugado</span>
                        <span class="mr-1"><i class="fas fa-xs fa-circle text-warning"></i> Disponível</span>
                    </small>
                </div>
                
                <!--Pagination-->
                <div>
                    <% include index-pagination %>    
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>
<% include ../partials/end %>