<% if (pages && pages > 0) { %>
    <nav aria-label="Paginação dos imóveis" class="table-responsive w-auto order-1 box-shadow" style="display: table-row-group">
        <ul class="pagination pagination-sm rounded-0 m-0">
            <% var typesUrl = "" %>
            <% if(selectedRealtyTypes.length !== 0) {%>
                <% for (let i in selectedRealtyTypes) { %>
                    <% typesUrl = typesUrl + "&type=" + selectedRealtyTypes[i]; %>
                <% } %>
            <% } %>
            <% var sortUrl = "&sort=" + sort %>
            <% var search = "&search=" + search %>
            <% var ownersUrl = "" %>
            <% if(selectedRealtyOwners.length !== 0) { %>
                <% for (let i in selectedRealtyOwners) { %>
                    <% ownersUrl = ownersUrl + "&owner=" + selectedRealtyOwners[i]; %>
                <% } %>
            <% } %>
            <% var allParameters = search + sortUrl + ownersUrl + typesUrl %>
            <% if (current == 1) { %>
                <li class="page-item disabled">
                    <a class="page-link border-0"><small>Primeira</small></a>
                </li>
            <% } else { %>
                <li class="page-item">
                    <a href="/imoveis?page=1<%= allParameters %>" class="page-link border-0"><small>Primeira</small></a>
                </li>
            <% } %>
            <% if (current == 1) { %>
                <li class="page-item disabled">
                    <a class="page-link border-0" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            <% } else { %>
                <li class="page-item">
                    <a class="page-link border-0" href="/imoveis?page=<%= Number(current) -1 %><%= allParameters %>" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            <% } %>
            <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
            <% if (i !== 1) { %>
                <li class="page-item disabled"><a class="page-link border-0">...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="page-item disabled active">
                        <a class="page-link border-0"><%= i %></a>
                    </li>
                <% } else { %>
                    <li class="page-item">
                        <a class="page-link border-0" href="/imoveis?page=<%= i %><%= allParameters %>"><%= i %></a>
                    </li>
                <% } %>
                <% if (i == Number(current) + 2 && i < pages) { %>
                    <li class="page-item disabled">
                        <a class="page-link border-0">...</a>
                    </li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="page-item">
                    <a class="page-link border-0 disabled" aria-label="Próximo">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            <% } else { %>
                <li class="page-item">
                    <a class="page-link border-0" href="/imoveis?page=<%= Number(current) + 1 %><%= allParameters %>" aria-label="Próximo">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            <% } %>
            <% if (current == pages) { %>
                <li class="page-item disabled">
                    <a class="page-link border-0"><small>Última</small></a>
                </li>
            <% } else { %>
                <li class="page-item">
                    <a href="/imoveis?page=<%= pages %><%= allParameters %>" class="page-link border-0"><small>Última</small></a>
                </li>
            <% } %>
        </ul>
    </nav>  
<% } %>