<% include ../partials/start %>
<% include ../partials/nav %>

<div class="container content-height py-3">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <!--Title-->
        <h1 class="font-weight-light text-center mb-3">Novo Imóvel</h1>
        <div class="card bg-white rounded">
            <div class="card-body">
                <!--New realty form-->
                <form action="/imoveis" method="POST">
                    <!--1st row-->
                    <div class="form-row">
                        <!--Type-->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="type">Tipo do imóvel <span class="text-danger">*</span></label>
                                <select class="custom-select" id="type" name="type" required>
                                    <% for (var i = 0; i < realtyTypes.length; i++) { %>
                                        <option value="<%= realtyTypes[i] %>"><%= realtyTypes[i] %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        
                        <!--Owner-->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="owner">Dono/Proprietário <span class="text-danger">*</span></label>
                                <select class="custom-select" id="owner" name="owner" required>
                                    <% var options = ["Cruz", "Agro", "MPN"] %>
                                    <% for (var i = 0; i < options.length; i++) { %>
                                        <option value="<%= options[i] %>"><%= options[i] %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <!--2nd row-->
                    <div class="form-row">
                        <!--Name-->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="name">Nome <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="ex.: Armazém Av. Vitória" required>
                            </div>
                        </div>
                        
                        <!--Address-->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="location">Endereço <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="location" name="location" required>
                            </div>
                        </div>
                    </div>
                    
                    <!--3rd row-->
                    <!--Map iframe-->
                    <div class="form-group">
                        <label for="mapIframe">Localização do Google Maps</label>
                        <input type="text" class="form-control" id="mapIframe" name="mapIframe" placeholder="ex.: <iframe>...</iframe>">
                        <small id="contractEndHelpBlock" class="form-text text-muted">
                            <a href="https://support.google.com/maps/answer/144361?co=GENIE.Platform%3DDesktop&hl=pt-BR" target="Google Maps iframe">Como obter o iframe de uma localização?</a>
                        </small>
                    </div>
                    
                    <!--4th row-->
                    <div class="form-row">
                        <!--Area-->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="areaSize">Área <small>(m<sup>2</sup>)</small></label>
                                <input type="number" class="form-control" id="areaSize" name="areaSize" min="1" step="0.01" placeholder="ex.: 150.40">
                            </div>
                        </div>
                        
                        <!--Fiscal number-->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="fiscalNum">Inscrição Fiscal</label>
                                <input type="number" class="form-control" id="fiscalNum" name="fiscalNum" min="1" step="1">
                            </div>
                        </div>
                    </div>
                    
                    <!--5th row-->
                    <div class="form-row">
                        <!--Condominium value-->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="condominiumValue">Valor do Condomínio <small>(R$)</small></label>
                                <input type="number" class="form-control" id="condominiumValue" name="condominiumValue" min="0" step="0.01">
                            </div>
                        </div>
                        
                        <!--IPTU value-->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="iptuValue">Valor do IPTU <small>(R$)</small></label>
                                <input type="number" class="form-control" id="iptuValue" name="iptuValue" min="0" step="0.01">
                            </div>
                        </div>
                    </div>
                    
                    <!--6th row-->
                    <!--Rented?-->
                    <div class="form-group">
                        <label for="isRented">Está alugado? <span class="text-danger">*</span></label>
                        <select class="custom-select" id="isRented" name="isRented" required>
                            <option value="Sim">Sim</option>
                            <option value="Não" selected>Não</option>
                        </select>
                    </div>
                    
                    <!--7th row-->
                    <!--Tenant is member of family/company?-->
                    <div class="form-group d-none tenantField">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="isFamily" name="isFamily">    
                            <label class="custom-control-label" for="isFamily">Inquilino é do GrupoCTC ou membro da família Cruz</label>
                        </div>
                    </div>
                    
                    <!--8th row-->
                    <!--Filter a select tag options-->
                    <script>
                        function filterSelectOptions(keyword) {
                            // Get the select tag
                            var select = document.getElementById("tenantId");
                            
                            // Iterate thru all select options (tenants)
                            for (var i = 0; i < select.length; i++) {
                                // Store option text in txt var
                                var txt = select.options[i].text;
                                
                                // Include var is true if lowercased option text (tenant name) starts with the typed keyword
                                var include = txt.toLowerCase().startsWith(keyword.toLowerCase());
                                
                                // Add display block if include var is true
                                select.options[i].style.display = include ? 'block' : 'none';
                            }
                        } 
                    </script>
                    
                    <!--Select tenant-->
                    <div class="form-group d-none tenantField">
                        <label for="tenantId">Selecione o Inquilino <span class="text-danger">*</span></label>
                        <!--On key up, call filterSelectOptions function-->
                        <input type="text" id="search" class="form-control" name="search" onkeyup="filterSelectOptions(this.value)" placeholder="Filtrar nome" autocomplete="off">
                        <select class="custom-select" id="tenantId" name="tenantId" required size="6">
                            <% tenants.forEach(function(tenant) { %>
                                <option value="<%= tenant.id %>"><%= tenant.name %></option>
                            <% }) %>
                        </select>
                    </div>
                    
                    <!--9th row-->
                    <div class="form-row">
                        <!--Contract start-->
                        <div class="col-lg-6">
                            <div class="form-group d-none tenantField">
                                <label for="contractStart">Início do Contrato</label>
                                <input type="date" class="form-control" id="contractStart" name="contractStart" aria-describedby="contractStartHelpBlock" min="2015-01-01">
                                <small id="contractStartHelpBlock" class="form-text text-muted">
                                    Preencha a data no formato acima
                                </small>
                            </div>
                        </div>
                        
                        <!--Contract end-->
                        <div class="col-lg-6">
                            <div class="form-group d-none tenantField">
                                <label for="contractEnd">Fim do Contrato</label>
                                <input type="date" class="form-control" id="contractEnd" name="contractEnd" aria-describedby="contractEndHelpBlock" min="2019-01-01">
                                <small id="contractEndHelpBlock" class="form-text text-muted">
                                    Preencha a data no formato acima
                                </small>
                            </div>
                        </div>
                    </div>
                    
                    <!--10th row-->
                    <!--Rent value-->
                    <div class="form-group d-none tenantField">
                        <label for="rentValue">Valor do Aluguel <small>(R$)</small></label>
                        <input type="number" class="form-control" id="rentValue" name="rentValue" min="0" step="0.01">
                    </div>
                    
                    <!--11th row-->
                    <!--Notes-->
                    <div class="form-group">
                        <label for="notes">Observações</label>
                        <textarea class="form-control" id="notes" name="notes" rows="4" maxlength="300"></textarea>
                        <small id="notesHelpBlock" class="form-text text-muted">
                            Máximo: 300 caracteres.
                        </small>
                    </div>
                    
                    <!--Save button-->
                    <div class="d-flex justify-content-between align-items-start">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <p class="text-danger">* <small class="m-0">Campos obrigatórios</small></p>
                    </div>
                </form>
            </div>
        </div>
        
        <!--Back link-->
        <a href="javascript:history.back()" class="mt-3">&laquo; Voltar</a>
    </div>
</div>

<% include ../partials/footer %>
<% include ../partials/end %>