<% include ../partials/start %>
<% include ../partials/nav %>

<section class="container content-height py-3">
    <!--Realty info-->
    <div class="d-md-flex justify-content-between align-items-baseline">
        <h1 class="font-weight-light m-0"><%= realty.name %></h1>
        <div>
            <% if(realty.isRented === "Sim") { %>
                <span class="badge badge-success p-lg-2">Alugado: <%= realty.isRented %></span>
            <% } else { %>
                <span class="badge badge-danger p-lg-2">Alugado: <%= realty.isRented %></span>
            <% } %>
            <span class="badge badge-info p-lg-2">Tipo: <%= realty.type %></span>
            <span class="badge badge-info p-lg-2">Proprietário: <%= realty.owner %></span>
        </div>
    </div>
    <hr>
    <!--Map-->
    <div class="realty-map">
        <%- realty.mapIframe %>
    </div>
    <div class="row">
        <!--Realty Info-->
        <div class="col-md-6">
            <div class="card my-3">
                <div class="card-body">
                    <h5 class="card-title">Dados do Imóvel</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <strong class="text-black-50">Endereço</strong>: <%= realty.location %>
                        </li>
                        <li>
                            <strong class="text-black-50">Insc. Fiscal:</strong> <%= realty.fiscalNum %>
                        </li>
                        <li>
                            <strong class="text-black-50">Área:</strong> 
                            <% if(realty.areaSize) { %>
                                <%= realty.areaSize %> <small>m<sup>2</sup></small>
                            <% } else { %>
                                Não informada
                            <% } %>
                        </li>
                        <li>
                            <strong class="text-black-50">Valor do condomínio:</strong>
                            <small>R$</small> <%= realty.condominiumValue %>
                        </li>
                        <li>
                            <strong class="text-black-50">Observações:</strong>
                            <span class="mb-0 ws-pre-wrap"><%= realty.notes %></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Tenant Info-->
        <div class="col-md-6">
            <div class="card mb-3 my-md-3">
                <div class="card-body">
                    <h5 class="card-title">Dados de Locação</h5>
                    <% if(realty.isRented === "Sim") { %>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <strong class="text-black-50">Nome/Razão Social:</strong> <%= realty.tenant.name %>
                            </li>
                            <li>
                                <strong class="text-black-50">Duração do contrato: </strong>
                                <% if(realty.contractStart && realty.contractEnd) { %>
                                    <%= moment(realty.contractStart).format("DD[/]MM[/]YY") %> à <%= moment(realty.contractEnd).format("DD[/]MM[/]YY") %>
                                <% } else { %>
                                    Não informado
                                <% } %>
                            </li>
                            <li>
                                <strong class="text-black-50">Valor do aluguel:</strong> <small>R$</small> <%= realty.rentValue %>
                            </li>
                            <li>
                                <strong class="text-black-50">Observações:</strong>
                                <span class="mb-0 ws-pre-wrap"><%= tenant.notes %></span>
                            </li>
                        </ul>
                    <% } else { %>
                        <p class="mb-0">Este imóvel não está alugado</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <!-- Back button -->
        <a href="javascript:history.back()">&laquo; Voltar</a>
        <div>
            <!-- Button trigger delete realty modal -->
            <a href="/imoveis/<%= realty._id %>/edit" class="text-info mr-3"><i class="fas fa-edit mr-1"></i>Editar</a>
            <!-- Button trigger delete realty modal -->
            <a href="#" class="text-danger" data-toggle="modal" data-target="#deleteRealtyModal">
                <i class="fas fa-trash mr-1"></i>Excluir
            </a>
        </div>
    </div>
    <!-- Delete realty modal -->
    <div class="modal fade" id="deleteRealtyModal" tabindex="-1" role="dialog" aria-labelledby="deleteRealtyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteRealtyModalLabel">Excluir Imóvel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Você tem certeza que deseja excluir este imóvel?
                </div>
                <div class="modal-footer">
                    <form action="/imoveis/<%= realty._id %>?_method=DELETE" method="POST" class="d-inline">
                        <button class="btn btn-danger">Sim</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>
<% include ../partials/end %>