<% include ../partials/start %>
<% include ../partials/nav %>

<section class="container content-height py-3">
    <div class="d-md-flex justify-content-between align-items-baseline">
        <h1 class="font-weight-light m-0"><%= realty.name %></h1>
        <div>
            <% if(realty.isRented === "Sim") { %>
                <span class="badge badge-success p-lg-2">Alugado: <%= realty.isRented %></span>
            <% } else { %>
                <span class="badge badge-danger p-lg-2">Alugado: <%= realty.isRented %></span>
            <% } %>
            <span class="badge badge-info p-lg-2">Tipo: <%= realty.type %></span>
            <span class="badge badge-info p-lg-2">Proprietário: <%= realty.owner %></span>
        </div>
    </div>
    <hr>
    <div class="realty-map box-shadow">
        <%- realty.mapIframe %>
    </div>
    <div class="row my-3">
        <div class="col-md-6 mb-3 mb-md-0 pr-md-2">
            <div class="card border-0 rounded-0 box-shadow h-100">
                <div class="card-body">
                    <h5 class="card-title">Dados do Imóvel</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <strong>Endereço</strong>: <%= realty.location %>
                        </li>
                        <li>
                            <strong>Insc. Fiscal:</strong> <%= realty.fiscalNum %>
                        </li>
                        <li>
                            <strong>Área:</strong> 
                            <% if(realty.areaSize) { %>
                                <%= realty.areaSize %> <small>m<sup>2</sup></small>
                            <% } else { %>
                                Não informada
                            <% } %>
                        </li>
                        <li>
                            <strong>Valor do condomínio:</strong>
                            <small>R$</small> <%= realty.condominiumValue %>
                        </li>
                        <li>
                            <strong>Valor do IPTU:</strong>
                            <small>R$</small> <%= realty.iptuValue %>
                        </li>
                        <li>
                            <strong>Observações:</strong>
                            <span class="mb-0 ws-pre-wrap"><%= realty.notes %></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 pl-md-2">
            <div class="card border-0 rounded-0 box-shadow h-100">
                <div class="card-body">
                    <h5 class="card-title">Dados de Locação</h5>
                    <% if(realty.isRented === "Sim") { %>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <strong>Nome/Razão Social:</strong> <%= realty.tenant.name %>
                            </li>
                            <li>
                                <strong>Duração do contrato: </strong>
                                <% if(realty.contractStart && realty.contractEnd) { %>
                                    <%= moment(realty.contractStart).format("DD[/]MM[/]YY") %> à <%= moment(realty.contractEnd).format("DD[/]MM[/]YY") %>
                                <% } else { %>
                                    Não informado
                                <% } %>
                            </li>
                            <li>
                                <strong>Valor do aluguel:</strong> <small>R$</small> <%= realty.rentValue %>
                            </li>
                            <li>
                                <strong>Observações:</strong>
                                <span class="mb-0 ws-pre-wrap"><%= tenant.notes %></span>
                            </li>
                        </ul>
                    <% } else { %>
                        <p class="mb-0">Este imóvel não está alugado</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-0 rounder-0 box-shadow my-3">
        <div class="card-body">
            <% var totalComments = (realty.comments.length > 0) ? " (" + realty.comments.length + ")" : "" %>
            <h5 class="card-title">Comentários<%= totalComments %></h5>
            <% if(realty.comments.length === 0 ) { %>
                <p>Não há comentários para este imóvel</p>
            <% } else { %>
                <% realty.comments.forEach(function(comment) { %>
                    <div class="comment border-left pl-2 mb-3">
                        <small><span class="font-weight-bold"><%= comment.author.username %></span>, <%= moment(comment.createdAt).fromNow() %></small>
                        <div class="comment-content mt-2">
                            &ldquo;<%= comment.text %>&rdquo;
                        </div>
                        <% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                            <div class="comment-actions mt-2">
                                <a class="btn btn-link text-info p-0 mr-2" href="/imoveis/<%= realty._id %>/comments/<%= comment._id %>/edit">
                                    <small><i class="fas fa-edit mr-1"></i>Editar</small>
                                </a>
                                <form action="/imoveis/<%= realty._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="d-inline">
                                    <button class="btn btn-link text-danger p-0">
                                        <small><i class="fas fa-trash-alt mr-1"></i>Excluir</small>
                                    </button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                <% }) %>
            <% } %>
            <i class="fas fa-comments text-primary"></i> <a data-toggle="collapse" href="#newCommentCollapse" role="button">Adicionar comentário</a>
            <div class="collapse mt-3" id="newCommentCollapse">
                <div class="card card-body">
                    <form action="/imoveis/<%= realty._id %>/comments" method="POST">
                        <p>Autor: <%= currentUser.username %></p>
                        <div class="form-group">
                            <textarea class="form-control" name="comment[text]" placeholder="Digite aqui seu comentário" rows="5" cols="70"></textarea>
                        </div>
                        <div class="form-group mb-0">
                            <button class="btn btn-success btn-sm">Enviar</button>
                        </div>
                    </form>                   
                </div>
            </div>            
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <a href="javascript:history.back()">&laquo; Voltar</a>
        <div>
            <a href="/imoveis/<%= realty._id %>/edit" class="text-info mr-3"><i class="fas fa-edit mr-1"></i>Editar</a>
            <a href="#" class="text-danger" data-toggle="modal" data-target="#deleteRealtyModal">
                <i class="fas fa-trash-alt mr-1"></i>Excluir
            </a>
        </div>
    </div>
    <!-- MODAL -->
    <div class="modal fade" id="deleteRealtyModal" tabindex="-1" role="dialog" aria-labelledby="deleteRealtyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteRealtyModalLabel">Excluir Imóvel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Você tem certeza que deseja excluir este imóvel?
                </div>
                <div class="modal-footer">
                    <form action="/imoveis/<%= realty._id %>?_method=DELETE" method="POST" class="d-inline">
                        <button class="btn btn-danger">Sim</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>
<% include ../partials/end %>